@font-face {
    font-family: Rubik;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Rubik;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Rubik;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: Raleway;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    
}

/* Main page */

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #ffffff;
    color: #444444;
}

.main-index {
    flex-grow: 1;
}

/* Header */

.page-header {
    width: fit;
    height: 300px;
    background-color: #FFE17F;
}

/* Navigation */

.user-navigation {
    display: flex;
    width: 1040px;
    margin: 0 auto;
}

.user-search-form {
    width: 517px;
}

.user-navigation-list {
    display: flex; 
    margin: 0;
    padding: 0;
    width: 497px;
}

.user-navigation-item:first-of-type {
    width: 231px;
}

.user-navigation-item:nth-of-type(2) {
    width: 105px;
    margin-left: auto;
}

.user-navigation-item:nth-of-type(3) {
    width: 99px;
}

.user-navigation-link {
    color: #000000;
}

.main-navigation {
    display: flex;
}

.main-navigation-list {
    display: flex; 
    width: 1040px;
    margin-right: auto;
    justify-content: right;
}

.main-navigation-item {
    justify-content: start;
    margin-right: auto;
}

.main-navigation-link {
    font-family: Raleway, sans-serif;
    font-size: 18px; 
    line-height: 21px; 
    letter-spacing: 0.2em; 
    text-transform: uppercase;
    color: #000000;
    width: 125px;
    margin-left: 45px;
}

.main-navigation-link:last-of-child {
    margin-right: 60px;
}

.main-navigation-link-button {
    font-family: Raleway, sans-serif;
    font-size: 18px; 
    line-height: 21px; 
    letter-spacing: 0.2em; 
    text-transform: uppercase;
    color: #000000;
}

.main-navigation-link-item {
    color: #000000;
}

.main-navigation-link-list {
    display: flex;
    flex-wrap: wrap;
}

/* Main container */

.page-container {
    width: 1160px;
    margin: 0 auto;
}

/* Slider */

.slide-slogan {
    font-family: Raleway, sans-serif;
    font-size: 50px; 
    line-height: 50px;
}

/* Buttons About and Details */

.link-about {
    font-family: Raleway, sans-serif;
    font-size: 18px; 
    line-height: 21px; 
    text-align: center; 
    letter-spacing: 0.2em; 
    text-transform: uppercase;
    color: #000000;
}

/* Catalogue with links on the main page */

.catalog-item-name {
    font-family: Raleway, sans-serif;
    font-size: 18px; 
    line-height: 24px; 
    letter-spacing: -0.02em;
}

.catalog-navigation-link {
    color: #000000;
}

/* Benefits-slider */

.benefits-list {
    background-color: #F0F0F0;
}

.tab-link {
    font-family: Raleway, sans-serif;
    font-size: 18px; 
    line-height: 21px; 
    text-align: center; 
    letter-spacing: 0.2em; 
    text-transform: uppercase;
}

.benefit-description-title {
    font-family: Raleway, sans-serif;
    font-size: 50px; 
    line-height: 50px;
}

/* Link for the delivery modal window */

.delivery-modal-window {
    font-family: Raleway, sans-serif;
    font-size: 20px; 
    line-height: 23px; 
    text-align: center; 
    letter-spacing: 0.2em; 
    text-transform: uppercase;
    background-color: #F0F0F0;
}

/* Section About */

.about h2 {
    font-family: Raleway, sans-serif;
    font-size: 50px; 
    line-height: 50px;
}

.about-list {
    font-weight: 800;
}

/* Section Contacts */

.contacts h2 {
    font-family: Raleway, sans-serif;
    font-size: 50px; 
    line-height: 50px;
}

/* Section Newsletter */

.newsletter {
    background: #F0F0F0;
}

.newsletter h2 {
    font-family: Raleway, sans-serif;
    font-size: 50px; 
    line-height: 50px;
}

.newsletter-button span {
    font-family: Raleway, sans-serif;
    font-size: 18px; 
    line-height: 21px; 
    align-items: center; 
    text-align: center; 
    letter-spacing: 0.2em; 
    text-transform: uppercase;
}

/* Footer */

.main-footer {
    background: #444444;
}


.nav-footer-item {
    font-family: Raleway, sans-serif;
    font-size: 18px; 
    line-height: 21px; 
    letter-spacing: 0.2em; 
    text-transform: uppercase;
}

.nav-footer-link {
    color: #FFFFFF;
}

/* Inner page with catalogue */

.inner-header-title {
    font-family: Raleway, sans-serif;
    font-size: 50px; 
    line-height: 50px;
}

.breadcrumbs-link {
    color: #000000;
}

/* Sorting */

.sorting {
    background: #F0F0F0;
}

.sorting-title, .sorting-control {
    font-family: Raleway, sans-serif;
    font-size: 16px; 
    line-height: 19px; 
    letter-spacing: 0.2em; 
    text-transform: uppercase;
}

.catalog-filter-title {
    font-weight: 800;
}

/* Product cards */

.product-card-title {
    font-weight: 800;
    color: #000000;
    font-size: 18px; 
    line-height: 20px; 
    letter-spacing: -0.02em;
}

.product-card-price {
    font-size: 18px; 
    line-height: 21px; 
    text-align: right; 
    color: #444444;
}

/* Pagination */

.button-more {
    font-family: Raleway, sans-serif;
    font-size: 16px; 
    line-height: 19px; 
    display: flex; 
    align-items: center; 
    text-align: center; 
    letter-spacing: 0.2em; 
    text-transform: uppercase;
}

.pagination {
    background-color: #EBEBEB; 
}

.pagination-link {
    color: #444444;
}

.pagination-prev, .pagination-next {
    font-family: Raleway, sans-serif;
    font-size: 18px; 
    line-height: 21px; 
    align-items: center; 
    letter-spacing: 0.2em; 
    text-transform: uppercase;
    color: #000000;
}


